@model Employee.Models.Student

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Employee.Models.Contxt db = new Employee.Models.Contxt();
    int? Id = Model.Id;
    List<Employee.Models.Subject> subjects = db.Subjects.Where(b => b.StudentId == Id).ToList();
    db.Dispose();
    int num = 0;
}

<h2>Edit Student Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Course, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Course, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Fees, htmlAttributes: new { @class = "" })
                @Html.EditorFor(model => model.Fees, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fees, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row mt-4 mb-2">
        <div class="col-sm-4">
            <span>Subjects</span>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-outline-info form-control" onclick="AddMore()">Add More</button>
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="DelIds" name="DelIds" value="" />
        <div class="col-sm-12 mt-2 table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Subject Name</th>
                        <th>Semester</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="SubjTBody">
                    @*@for (int i = 0; i < Sub.Rows.Count; i++)
                        {
                            <tr class="tr_@i">
                                <td>
                                    <input type="hidden" id="SubId_@i" name="SubId" value="@Sub.Rows[i]["Id"].ToString()" />
                                    <input type="text" id="Subject_@i" name="Subject" class="form-control" placeholder="Enter Subject" value="@Sub.Rows[i]["Sub_Name"].ToString()" required />
                                </td>
                                <td><input type="number" id="Semester_@i" name="Semester" class="form-control" placeholder="Enter Semester" max="8" value="@Sub.Rows[i]["Sem"].ToString()" required /></td>
                                <td><i class="fa fa-trash text-danger" style="font-size:20px; cursor:pointer;" onclick="DeleteRow('@i')"></i></td>
                            </tr>
                        }*@
                    @foreach (var item in subjects)
                    {
                        <tr class="tr_@num">
                            <td>
                                <input type="hidden" id="SubId_@num" name="SubId" value="@item.Id" />
                                <input type="text" id="Subject_@num" name="Subject" class="form-control" placeholder="Enter Subject" value="@item.Sub_Name" required />
                            </td>
                            <td>

                                <input type="number" id="Semester_@num" name="Semester" class="form-control" placeholder="Enter Semester" max="8" value="@item.Sem" required />
                            </td>
                            @*<td>
                                    @item.Sub_Name
                                </td>
                                <td>
                                    @item.Sem

                                </td>*@
                            <td><i class="fa fa-trash text-danger" style="font-size:20px; cursor:pointer;" onclick="DeleteRow('@num')"></i></td>
                        </tr>

                        num += 1;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-4">
            <input type="submit" class="mt-4 btn-success btn btn-primary form-control" value="Save" />
        </div>
    </div>
}




<div class="mt-4 m-lg-2">
    Student List:
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    var num = @subjects.Count;
    function AddMore() {
        var tr = ` <tr class="tr_` + num +`">
                            <td>
                                 <input type="hidden" id="SubId_`+ num +`" name="SubId" value="0" />
                                <input type="text" id="Subject_`+ num +`" name="Subject" class="form-control" placeholder="Enter Subject" value="" required />
                            </td>
                            <td>

                                <input type="number" id="Semester_`+ num +`" name="Semester" class="form-control" placeholder="Enter Semester" max="8" value="" required />
                            </td>
                             <td><i class="fa fa-trash text-danger" style="font-size:20px; cursor:pointer;" onclick="DeleteRow('`+ num +`')"></i></td>
                        </tr>`
        $('.SubjTBody').append(tr);
        num++;
    };
    function DeleteRow(cl) {
        var Id = $('#SubId_' + cl).val();
        if (Id != 0) {
            var delIds = $('#DelIds').val();
            if (delIds != '') {
                $('#DelIds').val(delIds + ',' + Id);
            }
            else {
                $('#DelIds').val(Id);
            }
        }
        $('.tr_' + cl).remove();
    }
</script>
