
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    System.Data.DataSet ds = Employee.Models.Procs.StudentDetails(ViewBag.Id);
    System.Data.DataTable Stud = ds.Tables[0];
    System.Data.DataTable Sub = ds.Tables[1];

}

<form method="post" action="/Student/Update">
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <div class="card">
                <div class="card-header" style="text-align:center; font-weight:bolder; font-size:larger">
                    Student Update Details
                </div>
                <div class="card-body">
                    <div class="row">
                        <input type="hidden" id="Id" name="Id" value="@Stud.Rows[0]["Id"].ToString()" />
                        <input type="hidden" id="DelIds" name="DelIds" value="" />
                        <div class="col-sm-12">
                            <label>Student Name</label>
                            <input type="text" id="Name" name="Name" value="@Stud.Rows[0]["Name"].ToString()" class="form-control" required />
                        </div>
                        <div class="col-sm-12">
                            <label>Course Name</label>
                            <input type="text" id="Course" name="Course" value="@Stud.Rows[0]["Course"].ToString()" class="form-control" required />
                        </div>
                        <div class="col-sm-12">
                            <label>Fees</label>
                            <input type="number" id="Fees" name="Fees" value="@Stud.Rows[0]["Fees"].ToString()" class="form-control" required />
                        </div>
                    </div>
                    <div class="row mt-4 mb-2">
                        <div class="col-sm-4">
                            <span>Subjects</span>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-outline-info form-control" onclick="AddMore()">Add More</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-2 table-responsive">
                            <table class="table table-sm table-bordered">
                                <thead>
                                    <tr>
                                        <th>Subject Name</th>
                                        <th>Semester</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="SubjTBody">
                                    @for( int i=0; i < Sub.Rows.Count; i++)
            {
                                    <tr class="tr_@i">
                                        <td>
                                            <input type="hidden" id="SubId_@i" name="SubId" value="@Sub.Rows[i]["Id"].ToString()" />
                                            <input type="text" id="Subject_@i" name="Subject" class="form-control" placeholder="Enter Subject" value="@Sub.Rows[i]["Sub_Name"].ToString()" required />
                                        </td>
                                        <td><input type="number" id="Semester_@i" name="Semester" class="form-control" placeholder="Enter Semester" max="8" value="@Sub.Rows[i]["Sem"].ToString()" required /></td>
                                        <td><i class="fa fa-trash text-danger" style="font-size:20px; cursor:pointer;" onclick="DeleteRow('@i')"></i></td>
                                    </tr>
            }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var num = @Sub.Rows.Count;
    function AddMore() {
        var tr=`<tr class="tr_`+ num+`">
                                        <td>
                                            <input type="hidden" id="SubId_`+ num+`" name="SubId" value="0" />
                                            <input type="text" id="Subject_`+ num+`" name="Subject" class="form-control" placeholder="Enter Subject"  required />
                                        </td>
                                        <td><input type="number" id="Semester_`+ num+`" name="Semester" class="form-control" placeholder="Enter Semester" max="8"  required /></td>
                                        <td><i class="fa fa-trash text-danger" style="font-size:20px; cursor:pointer;" onclick="DeleteRow('`+ num +`')"></i></td>
                                    </tr>`
        $('.SubjTBody').append(tr);
        num++;
    };
    function DeleteRow(cl) {
        var Id = $('#SubId_' + cl).val();
        if (Id != 0) {
            var delIds = $('#DelIds').val();
            if (delIds != '') {
                $('#DelIds').val(delIds + ',' + Id);
            }
            else {
                $('#DelIds').val(Id);
            }
        }
        $('.tr_' + cl).remove();
    }
</script>

